<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report Generate form</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <nav class="navbar">
        <a href="#" class="navbar-brand">Admin Panel</a>
        <div class="nav-menu">
            <a href="{{url_for('admin_dashboard')}}" class="nav-item active">Home</a>

            <div class="dropdown">
                <a href="#" class="nav-item dropdown-toggle">Manage Dept</a>
                <div class="dropdown-content">
                    <a href="{{url_for('insert_dept')}}" class="dropdown-item">Add Dept</a>
                    <a href="{{url_for('view_dept')}}" class="dropdown-item">View Dept</a>
                </div>
            </div>
            
            <div class="dropdown">
                <a href="#" class="nav-item dropdown-toggle">Manage Staff</a>
                <div class="dropdown-content">
                    <a href="{{url_for('insert_staff')}}" class="dropdown-item">Add Staff</a>
                    <a href="{{url_for('view_staff')}}" class="dropdown-item">View Staff</a>
                </div>
            </div>
            
            <div class="dropdown">
                <a href="#" class="nav-item dropdown-toggle">Manage Subjects</a>
                <div class="dropdown-content">
                    <a href="{{url_for('insert_sub')}}" class="dropdown-item">Add Subject</a>
                    <a href="{{url_for('view_subject')}}" class="dropdown-item">View Subjects</a>
                </div>
            </div>
            
            <div class="dropdown">
                <a href="#" class="nav-item dropdown-toggle">Manage Attendance</a>
                <div class="dropdown-content">
                    <a href="{{url_for('insert_class')}}" class="dropdown-item">Add Attendance</a>
                    <a href="{{url_for('view_class')}}" class="dropdown-item">View Attendance</a>
                </div>
            </div>
            
            <a href="report_generate_form.html" class="nav-item">Manage Reports</a>
            <a href="{{url_for('login')}}"class="nav-item" id="logout-link">
                <span>Logout</span>
                <i class="fas fa-sign-out-alt"></i>
            </a>
        </div>
    </nav>


    <div class="main-content">
        <div class="form-container">
            <div class="label">GENERATE REPORT FORM</div>
            <div class="input-group">
                <label for="department">Department</label>
                <select id="department">
                    <option value="cse">CSE</option>
                    <option value="ece">ECE</option>
                    <option value="eee">EEE</option>
                    <option value="mech">MECH</option>
                    <option value="civil">CIVIL</option>
                    <option value="automobile">AUTOMOBILE</option>
                    <option value="it">IT</option>
                </select>
            </div>

            <div class="input-group">
                <label for="year">Year</label>
                <select name="year">
                    <option name="year">I</option>
                    <option name="year">II</option>
                    <option name="year">III</option>
                </select>
            </div>

            <div class="input-group">
                <label for="department">Department</label>
                <select name="semester">
                    <option name="semester">1</option>
                    <option name="semester">2</option>
                    <option name="semester">3</option>
		            <option name="semester">4</option>
		            <option name="semester">5</option>
	                <option name="semester">6</option>
                </select>
            </div>

           <div class="input-group">
                <label for="classname">Class Name</label>
                <select name="classname">
                    <option name="classname">Class1</option>
                    <option name="classname">Class2</option>
                </select>
            </div>

           
            <div class="input-group">
                <label for="start_date">START DATE :</label>
                <input type="date" name="start_date" required>
            </div>

            <div class="input-group">
                <label for="end_date">END DATE :</label>
                <input type="date" name="end_date" required>
            </div>

        
            <div class="button-group">
                <button type="submit" class="submit-btn">Generate</button>
                <button type="reset" class="clear-btn">Clear</button>
            </div>
        </div>
    </div>

    <footer class="footer">
        <p class="copyright">© 2025 computerstudents@mspvl All Rights Reserved.</p>
    </footer>
</body>
</html>